@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* date input이 모바일에서 너무 작게 보이지 않도록 */
input[type='date'] {
  min-height: 1.5rem;
}
